.DS_Store
.sass-cache
.tscache/
/build/
/docs/site/
/scripts/*.js
/lib/
node_modules/
tscommand*.txt
# created by grunt-ts for faster compiling
typings/.basedir.ts
npm-debug.log

# vim swap files
*.swo
*.swp
