.DS_Store
.sass-cache
.tscache/
/build/
/docs/site/
/scripts/*.js
/lib/
node_modules/
tscommand*.txt
# created by grunt-ts for faster compiling
typings/.basedir.ts

# vim swap files
*.swo
*.swp

# grunt-ts, see See https://github.com/grunt-ts/grunt-ts/issues/77
src/.baseDir.ts
