.DS_Store
.github
.gitmodules
.gitattributes
.eslintrc.json
.npmrc
.project
.settings
.travis.yml
.tscache
.tslintrc
.vscode
.nycrc
.editorconfig
appveyor.yml
circle.yml
tslint.json
yarn.lock
/build/
/docs/
/scripts/
/src/
/test/
tscommand*.txt
/coverage/
/.nyc_output
