{
    "include": [
        "build/**/*.js",
        "src/**/*.ts"
    ],
    "extension": [
        ".js",
        ".ts"
    ],
    "exclude": [
        "**/test"
    ],
    "reporter": [
        "text-summary",
        "html"
    ],
    "sourceMap": true,
    "all": true
}
