

<header class="header">
  <section class="site-header">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav class="site-nav">
        <a class="page-link" href="{{site.baseurl}}/usage/cli">Usage</a>
        <a class="page-link" href="{{site.baseurl}}/rules">Rules</a>
        <a class="page-link" href="{{site.baseurl}}/formatters">Formatters</a>
        <a class="page-link" href="{{site.baseurl}}/develop/custom-rules">Develop</a>
        <a class="page-link" href="{{site.baseurl}}/news">News</a>
      </nav>
  </section>
  {% if page.title == site.title %}
  <section class="page-header">
    <h1 class="project-name">{{page.title}}</h1>
    {% if page.subtitle %}
      <h2 class="project-tagline">{{page.subtitle}}</h2>
    {% endif %}
    <a href="https://github.com/palantir/tslint" class="btn">View on GitHub</a>
    <a href="{{site.baseurl}}/usage/cli" class="btn">Learn More</a>
    <a href="https://github.com/palantir/tslint/tarball/master" class="btn">Download .tar.gz</a>
  </section>
  {% endif %}
</header>
