---
layout: page
title: "Rule: {{page.ruleName}}"
---
{{page.description | markdownify}}
{% if page.descriptionDetails %}
   {{page.descriptionDetails | markdownify}}
{% endif %}
{% if page.rationale %}
   <h5>Rationale:</h5>
   {{page.rationale | markdownify}}
{% endif %}


<h3>Config:</h3>
{{page.optionsDescription | markdownify}}

<h5>Examples:</h5>
{% for example in page.optionExamples %}
<pre>
"{{page.ruleName}}": {{example}}
</pre>
{% endfor %}

<h5>Schema:</h5>
<pre>
{{page.options | to_json}}
</pre>