---
layout: page
title: Rules
permalink: /rules/
menu: main
order: 2
---
<h3>TypeScript Specific</h3>
<p><em>These rules find errors related to TypeScript features:</em></p>
{% include rule_list.html ruleType="typescript" %}

<h3>Functionality</h3>
<p><em>These rules catch common errors in JS programming or otherwise confusing constructs that are prone to producing bugs:</em></p>
{% include rule_list.html ruleType="functionality" %}

<h3>Maintainability</h3>
<p><em>These rules make code maintenance easier:</em></p>
{% include rule_list.html ruleType="maintainability" %}

<h3>Style</h3>
<p><em>These rules enforce consistent style across your codebase:</em></p>
{% include rule_list.html ruleType="style" %}
